.div-footer{
    margin-top: 75px;
}

@media (max-width: 767px) and (min-width:320px){

    .cont-form{
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;

    }
    .contact{
        margin-top: 80px;
        width: 100%;
        padding: 25px;
        color: #19855b;
    }
    .cont-form form input{
        margin-left: 8px;
    }
    .cont-form form textarea{
        margin-left: 8px;
        
    }
    .cont-form form button{
        margin-left: 8px;
        
    }
    .div-footer{
        margin-top: 150px;
    }
}